.header {
    background-color: #393E46;
    color: rgb(245, 245, 245);
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    height: 40vh;

    h1 {
        font-size: 3rem;
    }
}